XMLUtils/XSDs/Professors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Professors" type="ProfessorsType"/>
  <xs:complexType name="ProfessorType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="departement"/>
      <xs:element type="xs:string" name="phone"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="CIN" use="required"/>
  </xs:complexType>
  <xs:complexType name="ProfessorsType">
    <xs:sequence>
      <xs:element type="ProfessorType" name="Professor" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>